<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="my_container">
        <div class="container">
            <div class="center my-4">
                <h1>My Cine World</h1>
            </div>
            <div class="my_panel">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <!-- Navbar Toggler for Mobile -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Summary</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Logout</a>
                                </li>
                            </ul>
                            <span class="navbar-text">
                                Welcome to Admin
                            </span>
                        </div> <!-- Close collapse navbar-collapse -->
                    </div> <!-- Close container-fluid -->
                </nav>

                <div class="container my-4">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Venue 1</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">PVR</h6>
                                    <p class="card-text">Juban Kesari.</p>
                                    <button type="button" class="btn btn-outline-primary">Add show</button>
                                </div> <!-- Close card-body -->
                            </div> <!-- Close card -->
                        </div> <!-- Close col -->

                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Venue 2</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">IMAX</h6>
                                    <p class="card-text">Badi screen hai</p>
                                    <button type="button" class="btn btn-outline-primary">Add show</button>
                                </div> <!-- Close card-body -->
                            </div> <!-- Close card -->
                        </div> <!-- Close col -->
                    </div> <!-- Close row -->

                    <div class="center my-4">
                        <button type="button" class="btn btn-primary">+Add Venue</button>
                    </div> <!-- Close center -->
                </div> <!-- Close container -->
            </div> <!-- Close my_panel -->
        </div> <!-- Close container -->
    </div> <!-- Close my_container -->

    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlE4R5MOPO54gnnBq6PR0kqa0Yz1ztcQTwFspd3yD65VohhpuG05KxUbJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGhoiZ13NXqaqClJ+Ae3eDi1z9O5p6UZ9lg6x14I4fQ+TceP9A5z4pG6y3M" crossorigin="anonymous"></script>
</body>
</html>